@model BeerService.Model.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="container">
    <div class="row">
        <div class="col-md-5" style="border-style: solid;">
            <p>@Model.beerUser.Pseudonym</p>
            <p>@Model.beerUser.GamerType.Name</p>
            <p>Level : @Model.beerUser.Level</p>
            <p>Experience : @Model.beerUser.Experience / @Model.beerUser.MaxExperience</p>
            <p>Money : @Model.beerUser.Money</p>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5" style="border-style: solid;">
            <p>Attack : @Model.beerUser.Attack</p>
            <p>Defense : @Model.beerUser.Defense</p>
            <p>Life : @Model.beerUser.Life</p>
            <p>Weapon in use : @Model.userWeaponInUse.Weapon.Name (Attack more : @Model.userWeaponInUse.Weapon.AttackMore)</p>
        </div>
    </div>
    <hr />
    <p style="color:green;">@Model.SuccessMessage</p>
    <p style="color:red;">@Model.ErrorMessage</p>
    <hr />
    <div class="row">
        <div class="col-md-5">
            @foreach (var w in Model.userWeapons)
            {
                if (!w.InUse)
                {
                    <div style="border-style:solid;">
                        <p>@w.Weapon.Name</p>
                        <p>Attack more : @w.Weapon.AttackMore</p>
                        <p>Minimum level : @w.Weapon.MinimumLevel</p>
                        <p><button onclick="location.href='@Url.Action("SelectWeapon", "Dashboard" )?id=@w.Id'">Select this weapon</button></p>
                        <p><button onclick="location.href='@Url.Action("SailWeapon", "Dashboard", new { id = @w.Id })'">Sail it</button></p>
                    </div>
                }
                else
                {
                    <div style="border-style:solid;">
                        <p>@w.Weapon.Name</p>
                        <p>Attack more : @w.Weapon.AttackMore</p>
                        <p>Minimum level : @w.Weapon.MinimumLevel</p>
                        <p>In use</p>
                    </div>
                }
            }
        </div>
    </div>
</div>